<%- include('header') %>
<form method="GET" action="/cotacao">
    <input name="cotacao" placeholder="Cotação do Dolar" value="<%=cotacao%>">
    <br >
    <input name="quantidade" placeholder="Quantidade de Dolares">
    <br>
    <br><button>Converter</button>
</for m>
<%- include('footer') %> 